/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
	position: relative;
	color: white;
	height: 100vh;
	background: linear-gradient(
		220.96deg,
		#423805 -38.09%,
		#0d2646 51.77%,
		#0e4916 140.35%
	);
	font-family: sans-serif;
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
#root {
	width: 100% !important;
	height: 100% !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/*npx tailwindcss -i ./src/renderer/App.css -o ./dist/output.css --watch*/
